.featured-bag {
  border: 1px solid #419A51;
  color: #419A51;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.2rem 0.45rem;
}

.text-provider {
  color: #95ADAD;
  font-weight: 400;
}

.text-footer-item {
  font-size: 0.9rem;
}

.text-price {
  font-weight: bold;
  letter-spacing: 0.01rem;
}